CSS 
body{
font-family: Verdana;
color: white;
background-color: black;
}
.title {
 margin: auto;
}
.img-caption {
  width: 50px;
  display: flex;
  margin: auto;
  }

.image {
  max-width: 100%;
  height: auto;
  margin: auto; 
}
